<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RC210_DataAssistant_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RC210_DataAssistant_V2.Properties.Settings>
            <setting name="P1UnlockCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1IDs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1TailMsgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1Timers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2UnlockCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2IDs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2TailMsgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2Timers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3UnlockCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3IDs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3TailMsgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3Timers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalLockCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminatorDigit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTCOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FWVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Macros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroCodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageMacros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CTMessageMacros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTMFMemories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTMFTestPadCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetpointsScheduler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalogMeters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralTimers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteBaseMemories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APMemories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APAnswerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APTollRestrictions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Port2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Port3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomeHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="DateHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1Switches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2Switches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3Switches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreAccessPrefix" serializeAs="String">
                <value>False</value>
            </setting>
        </RC210_DataAssistant_V2.Properties.Settings>
    </userSettings>
</configuration>